<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="description" content="">
	<meta name="robots" content="{$robots}" n:ifset="$robots">

	<title></title>

	<link rel="stylesheet" media="all" href="{$basePath}/components/bootstrap.css/css/bootstrap.css">
	<link rel="stylesheet" media="all" href="{$basePath}/css/screen.css">
	{#head}{/#}
</head>

<body>
  <noscript>Enable your JavaScript!</noscript>
  <div class="container">
  {include #content}
  </div>

	{#scripts}
	<script src="{$basePath}/components/jquery/jquery.js"></script>
	<script src="{$basePath}/components/angular/angular.js"></script>
	{/#}
</body>
</html>
